body {
  font-family: Lora, serif;
}
.header {
  /*width: 720px;*/
  /*border-bottom: 1px solid #ccc;*/
  margin-bottom: 2px;
  padding-bottom: 20px;
  background-color: #ddd;
  text-align: center;
}

.header img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 210px;
}

.main-img {
  margin-bottom: 30px;
}

.main-img img {
  width: 100%;
}


.container, .headline-wrap {
  width: 560px;
  margin: 0 auto 50px auto;
}

.container p {
  line-height: 1.6;
  margin-bottom: 20px;
}

h2 {
  font-size: 48px;
  margin-top: 50px;
  margin-bottom: 18px;
}

h3 {
  font-style: italic;
  font-size: 26px;
  margin-bottom: 40px;
  line-height: 1.3;
  opacity: .5;
}

.byline {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 2px;
}

.article img {
  width: 100%;
  margin-bottom: 7px;
}

.caption {
  font-style: italic;
  opacity: .6;
}

footer {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}